
Body {
  background-color:#eeeeee;
  margin:0px;
  
}
h1 {
    color:#4aaaa5;
    font-family: 'Georgia', "Times, Times New Roman", serif;
    background-color:#ffffff;
    padding-left:20px;
}
#Keith {
    float: left;
    height:200px;
    width:225px;
    padding: 20px;
    padding-bottom: 0px;
  }
header{
    background-color:#ffffff;
    width:100%;
    border-color: #cccccc;
    font-family: Georgia, Times, "Times New Roman", serif;
}
table{
    padding-left: 97px;
   
}
th{
    background-color: #4aaaa5;
    font-size:50px;
    color:white;
    text-align:left;
    padding-left:20px;
    border:0px;
}
td{
  background-color:white;
  font-size:20px;
  color:#a7a7b6;
  width:110px;
}
hr{
   color:#666666;
}
footer {
    background-color:#666666;
}
div {
  
}
content {
    margin: 250px;
    margin-top:50px;
    background-color:#ffffff;
    width:960px;
    padding:#ececec,100px;
    background-size: 960px;
    background-repeat: no-repeat;
    border-color: #dddddd;
    float:left;
    color: #777777;
}
p {
   float: left;
   overflow-wrap:break-word;
   padding-left: 20px;
   width:650px;
}
p1 {
  float: left;
  overflow-wrap:break-word;
  width: 100%;
  line-height: 10px;
}
p2 {
  float: left;
  overflow-wrap:break-word;
  width: 680;
  padding-left: 20px;
  Padding-right:20px;
  padding-bottom: 20px;
}
form {
  float: left;
  width:100%;
}
label {
  float:left;
  padding:20px;
}
input {
  float:left;
  padding-top:20px;
}

#name {
  float: left;
  width:100%;
  padding: 20px;
}
#email {
  float: left;
  width:100%;
  padding: 20px;
}

#subject{
  float: left;
  width:100%;
  padding: 20px;
}
#submit {
  float: left;
  padding: 20px;
}